body {
	background-color: #333;
}

img {
	font-weight: 500px;
	height: 500px;
	/*border: 3px solid #5297ac;*/

}

a, li {
	color: #fff;
	font-size: 20px;
	list-style-type: disc;
}

ul {
	margin-left: 0;
	margin-right: 15px;
	margin-top: 0;
}

footer {
	text-align: center;
	font-size: 20px;
	clear: both;
	padding-top: 100px;
	left: 45%;
	bottom: 0;
	color:#fff;
}
 
.gl {
	float: right;
	margin: 50 auto;
	width: 80%;
	color: #fff;
	font-size: 20px;

}
	
aside {
	float: right;
	width: 20%;
	padding-top:22%;
}

h1 {
	font-weight: 1140px;
	text-align: center;
	color:#fff;
}

#wr {
	text-align: left;
	padding-right: 26%;
}

td, tr{
	/*border:2px solid #5297ac;*/


}

